<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a th:if="${login} == null" th:href="@{/login}" th:text="${'Sign in'}" class="btn btn-primary btn-sm m" role="button"></a>
            <a th:if="${login} != null" th:href="@{/logout}" th:text="${'Sign out'}" class="btn btn-primary btn-sm m" role="button"></a>
<!--            <ul class="list-inline me-auto mb-2 mb-lg-0 mx-3">-->
<!--                <li class="list-inline-item">-->
<!--                    <a th:href="@{/}" class="btn btn-primary btn-sm m" role="button">Home</a>-->
<!--                </li>-->
<!--                <li class="list-inline-item">-->
<!--                    <a href="javascript:history.back()" class="btn btn-primary btn-sm m" role="button">Back</a>-->
<!--                </li>-->
<!--            </ul>-->
            <ul class="navbar-nav flex-row">
                <li th:if="${login} != null" class="nav-item me-3 me-lg-1 text-white">
                <a class="nav-link d-sm-flex align-items-sm-center" href="#"><img src="https://mdbootstrap.com/img/new/avatars/1.jpg" class="rounded-circle" height="22" alt="" loading="lazy"/>
                <strong class="d-none d-sm-block ms-1" th:each="role: ${account.roles}" th:switch="${role.role}">
                <span class="p-1" th:case="'ROLE_ADMIN'" th:text="${account.name +' status: administrator'}"></span>
                <span class="p-1" th:case="'ROLE_USER'" th:text="${account.name}"></span>
                <span class="p-1" th:case="''" th:text="${'Welcome, Unknown! You are not authorized'}"></span>
                <span class="p-1" th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                </strong>
                </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>