<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru_RU">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet"/>
    <title></title>
</head>
<body class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); height: 100vh">
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="list-inline me-auto mb-2 mb-lg-0 mx-3">
            <li class="list-inline-item">
                <a th:href="@{/}" class="btn btn-primary btn-sm m" role="button">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                    <img src="https://mdbootstrap.com/img/new/avatars/1.jpg"
                         class="rounded-circle"
                         height="22"
                         alt=""
                         loading="lazy"/>
                    <strong class="d-none d-sm-block ms-1" th:text="Guest"></strong>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="container">
    <div class="row h-100 justify-content-center align-items-center mx-auto my-5">
        <div class="col-md-3">
            <h1 class="display-2">REGISTRATION</h1>
        <form class="form" th:method="POST" th:action="@{/registration}" th:object="${user}" >
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name: </span>
                <input class="form-control shadow-lg rounded" placeholder="Your name" aria-label="Name" aria-describedby="basic-addon1" th:field="*{name}" value="name"/>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Last name: </span>
                <input class="form-control shadow-lg rounded" placeholder="Your last name" aria-label="Last name" aria-describedby="basic-addon1" th:field="*{lastName}" value="lastName"/>
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">Login: </span>
                <input class="form-control shadow-lg rounded" placeholder="Login" aria-label="login" aria-describedby="basic-addon1" th:field="*{login}" value="login"/>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon5">Password: </span>
                <input class="form-control shadow-lg rounded" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" th:field="*{password}" value="password"/>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon6">Password: </span>
                <input class="form-control shadow-lg rounded" placeholder="Password" aria-label="password" aria-describedby="basic-addon1" th:field="*{confirmPassword}" value="password"/>
            </div>

            <td><input type="submit" class="btn btn-primary btn-sm shadow-lg rounded" role="button" value="Registry"/></td>
            <td><input type="reset" class="btn btn-primary btn-sm shadow-lg rounded" role="button" value="Reset"/></td>
                <td><a href="javascript:history.back()" class="btn btn-primary btn-sm m" role="button">Back</a></td>
        </form>
        </div>
    </div>
</div>
</body>
</html>